.webixappstart{
    opacity:0;
}

.rectacngleStroke {
    stroke: #0097A7;
    stroke-width: 30;
    stroke-miterlimit: 22.9256
}

/*  start theme button svg */
#ThemeBtn{
    cursor: pointer;
}
.rectangleFill {
    fill: none
}

.circleFill {
    fill: #0097A7;
    transform: translateX(0px);
    transition: 1s;
}

.moonFill {
    fill: #646464;
    transition: 1s;
}

.sunFill {
    fill: #FEFEFE;
    transition: 1s;
}
.dark .moonFill {
    fill: white;
    transition: 1s;
}

.dark .sunFill {
    fill: #646464;
    transition: 1s;
}

.dark .circleFill {
    transform: translateX(-800px);
    transition: 1s;
}
/*  end theme button svg */
/*  start dark mode */
.dark .webix_view{
    background-color: #202430;
    transition: 1s;
    color: white;
}
.dark .webix_hcell{
    background-color: #424242;
    transition: 1s;
    color: white;
}
.dark .webix_list_item{
    background-color: #424242;
    transition: 1s;    
    color: white;
}
.dark .webix_hs_center{
    background-color: #202430;
    transition: 1s;
}
.dark .webix_inp_label{
    color: white;
    transition: 1s;
}
.dark .formheader{
    background-color: #795548;
    color: white;
    transition: 1s;
}
/*  end dark mode */
.loader-wrapper {
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    background-color: black;
    display:flex;
    justify-content: center;
    align-items: center;    
    z-index: 10000000;
  }
  .webix_hs_center{

    transition: 1s;
}
  
.webixapp{
    transition: opacity 500ms;
    opacity: 1;
}
.webix_view{
    background-color: white;
    transition: 1s;
    color: black;
}
.webix_list_item{
    color: black;
    transition: 1s;
}
/*data loading status*/
.status_good, .status_error, .status_saving{
	text-align: center;
	margin-left:-12px;
}
.status_error{
	color:red;
}
.status_good{
	color:green;
}

/*login form*/
.invalid_login .webix_header > div{
    background: #FC3636;
    transition: background 1s;
}
.invalid_login{
    -webkit-animation: formshake .5s linear;
}
@-webkit-keyframes formshake {
    8%, 41% {
        -webkit-transform: translateX(-10px);
    }
    25%, 58% {
        -webkit-transform: translateX(10px);
    }
    75% {
        -webkit-transform: translateX(-5px);
    }
    92% {
        -webkit-transform: translateX(5px);
    }
    0%, 100% {
        -webkit-transform: translateX(0);
    }
}
.app_header.webix_header{
    text-align:center;
    background-color: #26A69A;
    color: white;
}
.app_layout.webix_layout_clean{
	background: #EBEDF0;
}
.app_start .webix_template{
    padding:12px 12px;
}
.app_start{
    /* background-color: yellow; */
}
.app_menu .webix_icon{
	font-size:20px;
	vertical-align:middle;
}
.webix_selected{
    background-color: #00C853 !important;
    color: white !important;
}
.edit_hov:hover{
    background-color: yellow;
}
.webix_hcell{
    background-color: #4DB6AC;
    transition: 1s;
    color: white;
}
.formheader{
    background-color: #80CBC4;
    color: white;
    transition: 1s;
}